/* HELPERS CLASSES
 * HELPERS.SASS

%list
  padding-left: 1.5em

  li
    font-weight: 300
    list-style-type: decimal
    margin-bottom: 1.25em

    span
      font-weight: 500

    ol
      padding-left: 2.25em

      li
        list-style-type: lower-roman
        margin: 0.5em 0

.container
  max-width: $max-width
  width: 100%

.section-title
  color: $accent
  font-weight: 600
  margin-bottom: 0.25em
